




blah

<!--<ui-view></ui-view>-->
<!--<header class="hero-unit" id="banner">-->
  <!--<div class="row-fluid">-->
    <!--<h1>'Allo, 'Allo!</h1>-->
    <!--<p class="lead">Kick-starts your next web app with Angular Fullstack</p>-->
    <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman">-->
  <!--</div>-->
<!--</header>-->
<!--<div class="row-fluid">-->
  <!--<div class="col-lg-12">-->
    <!--<form ng-submit="login()">-->
      <!--<label for="email">email</label>:<input id="email" ng-model="user.email" type="text" />-->
      <!--<label for="password">password</label>:<input id="password" ng-model="user.password" type="password" />-->
      <!--<button >sign in</button>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="row-fluid">-->
  <!--<div class="col-lg-12">-->
    <!--<a ui-sref="teamCreation">New Team</a>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row-fluid">-->
  <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
      <!--<a href="/team/core">Teams</a>-->
      <!--<h1 class="page-header">Features:</h1>-->
      <!--<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">-->
        <!--<li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<!--<div ng-include="'components/partials/uploader.html'"></div>-->


